<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem
        id="demo_internal"
        name="Demo Internal"
        sequence="20"
        web_icon="demo_internal,static/description/icon.png"
    />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="demo_internal" />

    <!--Child menu-->

    <menuitem
        id="demo_model_2_internal"
        name="Demo model 2 internal"
        action="demo_model_2_internal_demo_model_2_internal_action_window"
        sequence="1"
        parent="menu"
    />

    <menuitem
        id="demo_model_internal"
        name="Demo model internal"
        action="demo_model_internal_demo_model_internal_action_window"
        sequence="2"
        parent="menu"
    />
</odoo>
