<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        id="root_demo_website_leaflet"
        sequence="20"
        web_icon="demo_website_leaflet,static/description/icon.png"
    />

    <menuitem id="models" name="Models" sequence="1" parent="root_demo_website_leaflet" />

    <menuitem
        id="demo_website_leaflet_category"
        action="demo_website_leaflet_category_demo_website_leaflet_category_action_view_action_window"
        sequence="3"
        parent="models"
    />

    <menuitem
        id="demo_website_leaflet_map"
        action="demo_website_leaflet_map_demo_website_leaflet_map_action_view_action_window"
        sequence="1"
        parent="models"
    />

    <menuitem
        id="demo_website_leaflet_map_feature"
        action="demo_website_leaflet_map_feature_demo_website_leaflet_map_feature_action_view_action_window"
        sequence="2"
        parent="models"
    />
</odoo>
