<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem
        id="demo_website_leaflet"
        name="Demo Website Leaflet"
        sequence="20"
        web_icon="demo_website_leaflet,static/description/icon.png"
    />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="demo_website_leaflet" />

    <!--Child menu-->

    <menuitem
        id="demo_website_leaflet_category"
        name="Demo website leaflet category"
        action="demo_website_leaflet_category_demo_website_leaflet_category_action_window"
        sequence="3"
        parent="menu"
    />

    <menuitem
        id="demo_website_leaflet_map"
        name="Demo website leaflet map"
        action="demo_website_leaflet_map_demo_website_leaflet_map_action_window"
        sequence="1"
        parent="menu"
    />

    <menuitem
        id="demo_website_leaflet_map_feature"
        name="Demo website leaflet map feature"
        action="demo_website_leaflet_map_feature_demo_website_leaflet_map_feature_action_window"
        sequence="2"
        parent="menu"
    />
</odoo>
